<div class="quiz-title container">
  <div class="columns">
    <div class="column is-2 back">
      <button mat-icon-button (click)="goBack()">
        <mat-icon aria-label="Go back to homepage button.">keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="column is-8 has-text-centered">
      <h2>Quiz:</h2>
      <h1>Abecedario</h1>
    </div>
    <div class="column is-2">
    </div>
  </div>
</div>
<!-- <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar> -->
<div class="quiz-body container">

  <div class="columns is-centered">
    <div class="column question">

      <h1 class="question">¿La seña corresponde a la letra?</h1>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column cards">
      <mat-card class="sign">
        <img src="{{ currentLetter.imageURL }}">
      </mat-card>
      <mat-card class="letter"> {{ currentLetter.letter }} </mat-card>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="columns is-centered match-answer">
    <div class="column is-3 has-text-centered correct">
      <button mat-icon-button class="answer-correct" [class.selected]="correctSelected" (click)="isCorrect()">
        <mat-icon [inline]="true" aria-label="Button to choose match is correct.">done</mat-icon>
      </button>
    </div>
    <div class="column is-3 has-text-centered incorrect">
      <button mat-icon-button class="answer-incorrect" [class.selected]="incorrectSelected" (click)="isIncorrect()">
        <mat-icon aria-label="Button to choose match is incorrect.">close</mat-icon>
      </button>
    </div>
  </div>

</div>

<div class="quiz-check container" [class.checked-correct]="checkedAnswer === true" [class.checked-incorrect]="checkedAnswer === false">
  <div class="columns">
    <div class="column">
    </div>

    <div class="column is-7 has-text-centered">

      <!-- Message checked answer -->
      <div class="wrapper">
        <div *ngIf="checkedAnswer !== undefined" class="answer-img">
          <span *ngIf="checkedAnswer === true" class="correct-img"></span>
          <span *ngIf="checkedAnswer === false"class="incorrect-img"></span>
        </div>
        <div *ngIf="checkedAnswer !== undefined" class="answer-text">
          <h2 *ngIf="checkedAnswer === true">¡Bien! Tu respuesta es correcta :)</h2>
          <h2 *ngIf="checkedAnswer === false">¡Oh no! Tu respuesta es incorrecta :(</h2>
          <h2 *ngIf="checkedAnswer === false">La seña es de la letra {{ questionAnswer.letter }}.</h2>
        </div>
      </div>

    </div>
    <div class="column is-3 has-text-centered check-button">
      <button class="check-quiz" mat-raised-button aria-label="Calificar respuesta" color="accent"
        (click)="handleClick()" [disabled]="correctSelected === undefined && incorrectSelected === undefined">
        {{ buttonAction }}
      </button>
    </div>
  </div>
</div>