.lesson-viewer-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 5% 20%;
    max-width: 1118px;
    max-height: 1125px;

    h1 {
        font-weight: 300;
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
        margin-bottom: -5px;
    }

    small {
        font-weight: 300;
        font-size: 80%;
    }

    .user-info {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(0,0,0,.54);
        background: rgba(0,0,0,.03);
        border-bottom: 1px solid #d6d6d6;
        padding: 1em 5em;
        cursor: pointer;

        .text-info {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            h2 {
                font-size: 1.3em;
                font-weight: 300;
            }

            h2.app-title, h2.user-name {
                font-size: 1.5em;
                font-weight: 300;
            }

            mat-icon {
                margin-left: 1em;
            }
        }

        .text-info.first {
            justify-content: flex-start;
        }

        .text-info.last {
            justify-content: flex-end;
            align-items: center;
        }
    }

    .home-body::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    .home-body {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 996px;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
        
        button {
            margin-top: 1em;
        }

        h2 {
            font-weight: 300;
            font-size: 1.2em;
        }

        mat-divider {
            margin-top: 0.5em;
        }

        .mini-desc {
            margin-top: calc(1.5rem - 0.75rem);
        }

        .mini-footer {
            margin-bottom: calc(1.5rem - 0.75rem);

            mat-divider {
                margin-bottom: calc(1.5rem - 0.75rem);
            }
        }

        .module2, .module3-a, .module3-b, .module4 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
    }

    .home-footer {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(0,0,0,.54);
        border-top: 1px solid #d6d6d6;
        padding: 1em 5em;
        cursor: pointer;

        .mini-footer {
            margin-bottom: calc(1.5rem - 0.75rem);

            mat-divider {
                margin-bottom: calc(1.5rem - 0.75rem);
            }
        }
    }
}

app-main-slider {
    max-height: 1125px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

@media screen and (min-width: 1472px) {
    .home-body.container {
        max-width: 909px;
        width: 909px;
    }
}

@media screen and (min-width: 1472px) {
    .user-info.container {
        max-width: 909px;
        width: 909px;
    }
}

@media screen and (min-width: 1800px) {
    .user-info.container {
        max-width: 1116px;
        width: 1116px;
    }
}

@media screen and (min-width: 1472px) {
    .home-footer.container {
        max-width: 909px;
        width: 909px;
    }
}

@media screen and (min-width: 1800px) {
    .home-footer.container {
        max-width: 1116px;
        width: 1116px;
    }
}